/* Media Queries are used to target specific devices and resolutions with styling.
This one means that it has to be a screen AND the resultution must be over 480px. 
480px = Smart phones
660px = Tablets
720px = Web pages
*/
@media screen and (min-width: 480px){
	/**********************************
	two column layout for smart phones
	***********************************/
	#primary{
		width: 50%;
		float:left;
	}

	#secondary {
		width: 40%;
		float:right;
	}

	/**********************************
	Page portfolio three column layout
	***********************************/
	/*The calculcation of 28.3% makes 3 columns display across the row */
	#gallery li {
		width: 28.3333%;
	}

	/*Any stiling in here is only applied to every fourth listobject inside id=gallery.
	We do this because images are floated and we have to clear every fourth item to achieve
	only 3 images on every line. Test it without ...*/
	#gallery li:nth-child(3n+1) {
		clear:left
	}

	/**********************************
	page: about
	***********************************/
	.profile-photo{
		float:left;
		margin: 0 5% 80px 0;
	}
}

/*Rules for when the screen is LARGER than 660px (Tablets and Computers)*/
@media screen and (min-width: 660px){
	header #logo {
		float:left;
	}

	header nav {
		float: right;
	}

}


